<div class="flex h-full">
  <!-- Sidebar -->
  <div class="sidebar flex" style="width: 320px; height: 945.4px;">
    <div class="logo"></div>

      <img [src]="profile.profilePicture" alt="Profile picture of {{ usuario?.persona?.nombre }}" class="mb-3  align-items-center" style="border-radius: 50%; width: 150px; height: 150px;">
      <h2 class="text-center">{{ usuario?.persona?.nombre }}<br> {{ usuario?.persona?.apellido}}</h2>
      <button pButton type="button" label="CERRAR SESIÓN" class="p-button-warning " (click)="logout()"></button>


  </div>

  <!-- Main Content -->
  <div class="main-content">
    <h1>Hola {{ usuario?.persona?.nombre}} {{usuario?.persona?.apellido}}  👋</h1>

    <div class="module-container">


      <div *ngFor="let module of modules" class="module-card" [routerLink]="[module.route]" >
        <!-- Contenedor principal relativo para la imagen y el título -->
        <div class="image-container flex justify-content-center flex-wrap">
          <!-- Contenedor de la imagen -->

          <div class="image-wrapper flex align-items-center justify-content-center">
            <div  alt="Module image" class="module-image bg-center" [ngClass]="module.class"></div>
          </div>
          <!-- Título con ancho mayor al contenedor de la imagen -->

          <div class="module-title">
            {{ module.title }}
          </div>
        </div>
      </div>


    </div>

    </div>





</div>
