@import url('https://fonts.googleapis.com/css2?family=Montserrat:400,800');

*{
    box-sizing: border-box;
}

.body{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-position: center;
    background-image: url(../../image/Desen.jpg);
    background-repeat:  no-repeat;
    background-size: cover;
    font-family: 'monserrat', sans-serif;
    min-height: 100vh;
    width: 100%;

}

.svg{

  background-image: url(../../image/Illustration.svg);
  background-size: cover;
  width: 188px;
  height: 200px;
}

 .logito{

  background-image: url(../../image/logo.png);
  width: 228px;
  height: 100px;
 }
.container{
    position: relative;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    background-color: #023E8A;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.sign-up, .sign-in{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}
.sign-up{
    width: 50%;
    opacity: 0;
    z-index: 1;
}
.sign-in{
    width: 50%;
    z-index: 2;
}
form{
    background: #001C48;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}
h1{
    font-weight: bold;
    margin: 0;
    color: white;
}
p{
    color: white;
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 15px 0 20px;
}
input{
    background: transparent;
    border-bottom: solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 5px;
    padding: 12px 15px;
    margin: 8px 15px;
    width: 248px;
    border-radius: 5px;
    outline: none;
    color: white;
}

::ng-deep .custom-password .p-inputtext {
  background: transparent !important;
  border-bottom: solid 2px white !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  margin-bottom: 5px !important;
  padding: 12px 15px !important;
  margin: 8px 0px !important;
  width: 248px !important;
  border-radius: 5px !important;
  outline: none !important;
  color: white !important;
  font-size: smaller;
}

a{
    color: gray;
    font-size: 4px;
    text-decoration: underline;
    margin: 15px 0;
    font-weight: bolder;
}
button{
    color: #fff;
    background: #2A70FB;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 55px;
    margin: 20px;
    border-radius: 20px;
    border: 1px solid #2A70FB;
    outline: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}
button:active{
    transform: scale(0.90);
}
#signIn, #signUp{
    background-color: transparent;
    border: 2px solid #fff;
}
.container.right-panel-active .sign-in{
    transform: translateX(100%);
}
.container.right-panel-active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}
.overlay-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    z-index: 100;
}
.container.container.right-panel-active .overlay-container{
    transform: translateX(-100%);
}
.overlay{
    position: relative;
    color: #fff;
    background: #ff416c;
    left: -100%;
    height: 100%;
    width: 200%;
    background: linear-gradient(to right, #2A70FB, #163760);
    transform: translateX(0);
}
.container.right-panel-active .overlay{
    transform: translateX(50%);
}
.overlay-left, .overlay-right{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
}
.overlay-left{
    transform: translateX(-20%);
}
.overlay-right{
    right: 0;
    transform: translateX(0);
}
.container.right-panel-active .overlay-left{
    transform: translateX(0);
}
.container.right-panel-active .overlay-right{
    transform: translateX(20%);
}
.social-container {
    margin: 20px 0;
}
.social-container a{
    height: 40px;
    width: 40px;
    margin: 0 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 50%;
}



/* Estilos para el chip de WhatsApp */
.whatsapp-chip {
  background-color: #25D366;  /* Color de fondo de WhatsApp */
  color: white;                /* Color del texto */
  border: 1px solid #128C7E;  /* Color del borde */
  border-radius: 16px;        /* Bordes redondeados */
  padding: 12px 1px;          /* Espaciado interno */
  transition: background-color 0.3s, transform 0.3s;
  margin-right: 5px;
}

.whatsapp-chip:hover {
  background-color: #128C7E;  /* Color de fondo al pasar el mouse */
  transform: scale(1.05);      /* Efecto de escala al pasar el mouse */
}

/* Estilos para el chip de Teléfono */
.phone-chip {
  background-color: #007BFF;   /* Color de fondo azul */
  color: white;                 /* Color del texto */
  border: 0.5px solid #0056b3;    /* Color del borde */
  border-radius: 16px;         /* Bordes redondeados */
  padding: 12px 1px;           /* Espaciado interno */
  transition: background-color 0.3s, transform 0.3s; /* Transiciones suaves */
  margin-left: 5px;
}

.phone-chip:hover {
  background-color: #0056b3;    /* Color de fondo al pasar el mouse */
  transform: scale(1.05);       /* Efecto de escala al pasar el mouse */
}


