<header class="flex align-items-center justify-content-between bg-blue-900 text-white" style="height: 83px; width:100%;">
  <!-- Logo PracWay alineado a la izquierda -->
  <div class="flex align-items-center ml-5">
    <div class="flex align-items-center mr-6">
      <a class="text-white text-2xl mr-4" href="#">
        <i class="fas fa-bars">
        </i>
       </a>
       <div class="bg-white-alpha-90" style="width: 2px; height: 60px; margin-left: 20px;"></div>
    </div>
    <div >
      <a [routerLink]="['/modulos']"  >
        <div class="logo" ></div>
      </a>
    </div>
  </div>

  <!-- Elementos de navegación alineados a la derecha -->
  <div class="flex align-items-center gap-8 mr-7">
    <!-- Centro de Ayuda -->
    <div class="flex align-items-center gap-2">
      <i class="pi pi-question-circle text-xl"></i>
      <span>Centro de Ayuda</span>
    </div>

    <!-- Guía de Usuario -->
    <div class="flex align-items-center gap-2">
      <i class="pi pi-book text-xl"></i>
      <span>Guía de Usuario</span>
    </div>

    <!-- Perfil de usuario -->
    <div class="flex align-items-center gap-2">
      <img
        src="https://storage.googleapis.com/a1aa/image/SsGrPqgtd8q1MpG4NgoLDbbehoVRbhhknMHiyGNkRV3tOftTA.jpg"
        alt="User profile picture"
        class="border-circle"
        style="width: 45px; height: 45px;"
      />
      <div class="text-sm">
        <span>Alex Villegas</span>
        <br />
        <span class="text-yellow-400">(S. Académico)</span>
      </div>
    </div>
  </div>
</header>
