.sidebar-container {
  width: 30vh; /* Ancho fijo del sidebar */
  background-color: #ffffff;
  border-right: 1px solid #e5e7eb;
  min-width: 282.5px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 83px); /* Ocupa toda la altura de la ventana */
}

.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribuye elementos en la columna */
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 20px 16px; /* Espaciado de los elementos */
  border-bottom: 1px solid #e5e7eb;
  cursor: pointer;
  transition: background-color 0.2s;
  white-space: nowrap;
}

.sidebar-item:hover {
  background-color: #e1eefc;
}

.sidebar-text {
  margin-left: 1rem;
  color: #1e3a8a;
  font-size: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 80%;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
}

.sidebar-item.logout {
  border-top: 1px solid #e5e7eb;
  border-bottom: none;
}

.sidebar-icon {
  color: #1e3a8a;
  font-size: 1.25rem;
}


/* Clase para el link activo */
.active-link {
  background-color: #8ab1df; /* Color de fondo suave para el estado activo */
  color: #1a4d8f; /* Color de texto un poco más oscuro */
}

/* Estilos específicos para el texto e ícono en el estado activo */
.active-link .sidebar-icon {
  color: #1a4d8f; /* Cambia el color del icono si está activo */
}

.active-link .sidebar-text {
  font-weight: 700; /* Negrita para el texto activo */
}
